<link rel="stylesheet" href="/css/home.css">
<div class="form">
<h4 style="margin-left: 40%;">Home</h4>
<section id>
    <div class="card text-center">
        <div class="card-header">
          <!-- To Create New Student -->
        </div>
        <div class="card-body">
            <h5 class="card-title">Create new Student</h5>
            <p class="card-text">Click on the following button, enter details and click submit to create new student</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create New Student
            </button>
        </div>
        <div class="card-footer text-muted">
          <!-- 2 days ago -->
        </div>
      </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/students/form-input" method="POST" class="student-input-form m-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" placeholder="Name ..." required id="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" name="email" placeholder="email" required id="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="batch" class="form-label">Batch</label>
                    <input type="text" name="batch" placeholder="Batch" required id="batch" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="collName" class="form-label">Collage Name</label>
                    <input type="text" name="collage" placeholder="Collage Name ..." required id="collName" class="form-control">
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputEmail4" class="form-label">DSA score</label>
                        <input type="number" name="dsaScore" required placeholder="dsa Score..." class="form-control">
                    </div>
                    <div class="col">
                        <label for="inputEmail4" class="form-label">WEB DEV score</label>
                        <input type="number" name="webDevScore" required placeholder="webDev Score..." class="form-control">
                    </div>
                    <div class="col">
                        <label for="inputEmail4" class="form-label">REACT score</label>
                        <input type="number" name="reactScore" required placeholder="React Score..." class="form-control">
                    </div>
                </div>
                <h5 >Enter Student Placement Status : </h5>
                <div class="form-check">
                    <label for="true" class="form-check-label">Placed</label>
                    <input type="radio" name="status" value="true" id="true" class="form-check-input">
                </div>
                <div class="form-check">
                    <label for="false" class="form-check-label">Not Placed</label>
                    <input type="radio" name="status" value="false" id="false" checked class="form-check-input">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Student</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<h1 style="margin-left: 42vw; margin-top: 8px;">Student Info</h1>
<section class="tablee">
    <table class="table table-dark table-striped">
        <tr>
            <th>Name</th>
            <th>Batch</th>
            <th>Collage</th>
            <th>Placement Status</th>
            <th>DSA score</th>
            <th>WebDev Score</th>
            <th>React Score</th>
          </tr>
        <%for(std of student){%>
        <tr>
            <td><%= std.name %></td>
            <td><%= std.batch%></td>
            <td><%= std.collage%></td>
            <td><%= std.status%></td>
            <td><%= std.dsaScore%></td>
            <td><%= std.webDevScore%></td>
            <td><%= std.reactScore%></td>
        </tr>
        <%}%>
    </table>
</section>